
<% permalink = config.url + config.root + post.path %>
<main class="content" role="main">
  <article class="post">
    <%- partial('post/meta') %>
    <h3 class="post-title"><%- post.title %></h3>
    <section class="post-content" style="margin-top: 10px;">
      <%- post.content %>
    </section>
    <footer class="post-footer">
      <%- partial('post/author') %>
      <%- partial('post/share') %>
    </footer>
  </article>
  <%- partial('post/navigation') %>
  <div id="comment" class="comments-area">
    <!-- 多说评论框 start -->
      <div class="ds-thread" data-thread-key="<%- post.path %>" data-title="<%- post.title %>" data-url="<%- permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:"bluetomlee"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//liyi.it/js/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </div>

</main>
